@import "tailwindcss" source(none);
@source "../src";
@import "tw-animate-css";
@import "./index.css";

@theme inline {
  --color-background: var(--token-f8dc39cc-9b31-4d20-8063-4556a3d8afa9);
  --color-foreground: var(--token-2007957d-a074-4c0c-8a33-8d85ed1ba0fd);
}

html { scroll-behavior: smooth; }
body { margin: 0; }
